#container{
    background-color: black;
    padding-bottom: 30px;
}
#row{
    padding-top: 50px;
    padding-left: 11%;
    padding-right: 11%;
}
#container2{
    background-color: black;
 
    text-align: center;
    border: 1px solid rgb(11, 144, 177);
}
.input{
  width: 80%;
  border-radius: 5px;
}

.button{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(20, 85, 85);
    font-weight: bold;
    font-size: larger;
    font-family:sans-serif;
    color: white;
}
.icons{
    padding-right: 2%;
    text-align: center;
}
.Link{
    color: aliceblue;
    text-decoration: none;
}
.Link:hover{
    color: rgb(0, 204, 255);
}
@media(0px <= width <=300px){

    #row{
        padding-left: 1%;
        padding-right: 1%;
      
    }
    .button{
        width: 50%;
        height: 50px;
        border-radius: 10px;
        background-color: rgb(20, 85, 85);
        font-weight: bold;
        font-size: 15px;
        font-family:sans-serif;
        color: white;
    }
  }
@media(300px <= width <=767px){

    #row{
        padding-left: 1%;
        padding-right: 1%;
      
    }
    .button{
        width: 50%;
        height: 50px;
        border-radius: 10px;
        background-color: rgb(20, 85, 85);
        font-weight: bold;
        font-size: large;
        font-family:sans-serif;
        color: white;
    }
  }
  