#offcanvas{
    background-color: black;
    color: white;
}
#offcanvas .btn-close{
 background-color: white;
    color: white;
}


@media(0px <= width <= 768px){

    #offcanvas{
        text-align: center;
        background-color: rgb(28, 70, 70);
        width: 80%;
    }
  
}