#container {
  background-color: black;
}
#col {
  padding-left: 11%;
  
  margin-top: 50px;
}
#col1 {
  margin-top: 50px;
  padding-right: 5%;
}
.ul {
  text-decoration: none;
  list-style: none;
}
.li {
  text-decoration: underline;
  color: aqua;
  float: left;
  margin-left: 0px;
  margin-right: 50px;
  font-size: larger;
}
.li2 {
  text-decoration: underline;
  color: aqua;
  margin-left: 0px;
  margin-right: 50px;
  font-size: larger;
}
.li:hover {
  color: white;
}
.li2:hover {
  color: white;
}
.img {
  border-radius: 10px;
  width: 100%;
}
@media (0px <= width <=767px) {
  #col1 {
    padding-left: 3%;
    padding-right: 3%;
  }
  #col {
    padding-left: 3%;
    padding-right: 3%;
  }
  .li {
    /* text-decoration: none; */
    color: aqua;
    float: left;
    margin-left: 0px;
    margin-right: 15px;
    font-size: larger;
  }
  .li2 {
    text-decoration: underline;
    color: aqua;
    margin-left: 0px;
    margin-right: 15px;
    font-size: larger;
  }
}
